<h1>Welcome to the PlantApp</h1>

<div>
  <% @plants.each do |plant|%>
  <div class="callout row align-middle card-images">
    <div>
        <img src="<%= plant.img %>">
    </div>
      <div>
          <p>Common name: <%=  plant.common_name%></p>
          <p>Scientific name: <%=  plant.scientific_name%></p>
          <p>Family: <%=  plant.family%></p>
          <p>Genus: <%=  plant.genus%></p>
      </div>
  </div>
    <% end %>
</div>
