<h3>Welcome to the PlantApp</h3>

<div>
  <% @plants.each do |plant|%>
  <div class="card-images grid-x grid-margin-x callout">
    <div class="cell small-4">
        <img src="<%= plant.img %>">
    </div>
      <div class="cell auto">
          <p>Common name: <%=  plant.common_name%></p>
          <p>Scientific name: <%=  plant.scientific_name%></p>
          <p>Family: <%=  plant.family%></p>
          <p>Genus: <%=  plant.genus%></p>
      </div>
  </div>
    <% end %>
</div>
