<h1>Welcome to PlantApp</h1>

<div>
  <% @plants.each do |plant|%>
  <div class="callout">
      <img src="<%= plant.img %>">
      <li>Common name: <%=  plant.common_name%></li>
      <li>Scientific name: <%=  plant.scientific_name%></li>
      <li>Family: <%=  plant.family%></li>
      <li>Genus: <%=  plant.genus%></li>
  </div>
  <% end %>
</div>
