<%- if !current_user -%>
  <%= link_to 'Add a plant', new_user_session_path %>
<%- else -%>
  <%= link_to 'Add a plant', "/users/#{current_user.id}" %>
<% end%>
<div>
  <% @plants.each do |plant|%>
    <%= link_to plant, class: "card-images grid-x grid-margin-x callout" do%>
      <div class="cell small-4">
        <img src="<%= plant.img %>">
      </div>
      <div class="cell auto">
        <p>Name: <%=  plant.name%></p>
        <p>Family: <%=  plant.family%></p>
        <p>By <%= plant.user.username %></p>
      </div>
    <% end %>
  <% end %>
</div>
