
<div>
  <div class="card-images grid-x grid-margin-x callout">
    <div class="cell small-4">
        <img src="<%= @plant.img %>">
    </div>
    <div class="cell auto">
          <p>Category: <%=  @plant.category.title%></p>
          <p>Name: <%=  @plant.name%></p>
          <p>Family: <%=  @plant.family%></p>
          <p>By <%= link_to @plant.user.username, "/users/#{@plant.user.id}" %></p>
    </div>
  </div>
</div>